@import url('../plugins/bootstrap/css/bootstrap.min.css');
@import url('../plugins/font-awesome-4.7.0/css/font-awesome.min.css');
@import url('../plugins/OwlCarousel/owl.carousel.min.css');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 767px) {
  body {
    padding-top: 64px;
  }
}

.titillium {
  font-family: 'Titillium Web', sans-serif;
}

body.roboto {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.roboto p {
  font-size: 14px;
}

img {
  max-width: 100%;
}

b,
strong {
  font-weight: 700;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

button:active,
button:focus,
button:hover {
  outline: 0;
}

section {
  padding: 50px 0;
}

@media (max-width: 991px) {
  section {
    padding: 30px 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  section {
    padding: 40px 0;
  }
}

section h2 {
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  section h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  section h2 {
    font-size: 25px;
    padding-bottom: 15px;
  }
}

.header-active header {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-active header nav.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-active header nav.navbar .navbar-brand {
  min-width: 200px;
}

.header-active header nav.navbar .navbar-brand img {
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav.navbar {
  padding: 6px 0;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.38)), to(#0000));
  background-image: linear-gradient(rgba(0, 0, 0, 0.38), #0000);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 767px) {
  header nav.navbar {
    padding: 12px 35px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#333333));
    background-image: linear-gradient(#333333, #333333);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header nav.navbar {
    padding: 8px 15px;
  }
}

header nav.navbar .navbar-toggler {
  border: none;
  padding: 0;
}

header nav.navbar .navbar-toggler .navbar-toggler-icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

header nav.navbar .navbar-brand {
  min-width: 200px;
}

header nav.navbar .navbar-brand img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 50px;
}

@media (max-width: 767px) {
  header nav.navbar .navbar-brand img {
    height: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header nav.navbar .navbar-brand img {
    height: 30px !important;
  }
}

@media (max-width: 767px) {
  header nav.navbar .navbar-collapse {
    position: absolute;
    width: 90%;
    top: 72px;
    background: #333;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .nav-item {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  }
}

header nav.navbar .navbar-nav .nav-item .nav-link {
  line-height: 50px;
  font-size: 15px;
  color: #fff;
  padding: 5px 20px;
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .nav-item .nav-link {
    line-height: 25px;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header nav.navbar .navbar-nav .nav-item .nav-link {
    line-height: 30px;
    font-size: 14px;
    padding: 5px 15px;
  }
}

header nav.navbar .navbar-nav .active .nav-link {
  color: #fff;
}

header nav.navbar .navbar-nav .dropdown .dropdown-toggle {
  position: relative;
}

header nav.navbar .navbar-nav .dropdown .dropdown-toggle:after {
  content: "\f107";
  position: absolute;
  top: 50%;
  right: 3px;
  font-family: FontAwesome;
  font-size: 12px;
  opacity: .3;
  border: none;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .dropdown .dropdown-toggle:after {
    right: 15px;
  }
}

header nav.navbar .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .dropdown:hover .dropdown-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .dropdown:hover .show {
    display: block;
  }
}

header nav.navbar .navbar-nav .dropdown .dropdown-menu {
  text-align: left;
  width: 300px;
  background-color: #313131;
  padding: 0 15px;
  border-color: transparent;
  margin-top: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 6px 12px;
  -webkit-transition: top .4s ease;
  transition: top .4s ease;
  border-radius: 0;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .dropdown .dropdown-menu {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: none;
  }
}

header nav.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: #ccc;
  margin: 0;
  padding: 7px 15px;
  font-weight: 400;
  line-height: 23px;
  font-size: 15px;
  display: block;
  border-bottom: transparent 1px solid;
  position: relative;
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    font-size: 13px;
  }
}

header nav.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover, header nav.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:focus {
  color: #fff;
  background-color: transparent;
}

header nav.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  left: 0;
  background: #fbde25;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
}

header nav.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover::after {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 767px) {
  header nav.navbar .navbar-nav .dropdown .show {
    display: block;
  }
}

.banner {
  padding: 140px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media (max-width: 767px) {
  .banner {
    padding: 58px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    padding: 70px 0;
  }
}

.banner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.631373);
}

.banner .banner-cnt {
  position: relative;
  z-index: 9;
}

.banner .banner-cnt h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 50px;
}

@media (max-width: 991px) {
  .banner .banner-cnt h1 {
    font-size: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner .banner-cnt h1 {
    font-size: 30px;
  }
}

.banner .banner-cnt p {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 991px) {
  .banner .banner-cnt p {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner .banner-cnt p {
    font-size: 16px;
  }
}

.widget-wrp {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .widget-wrp {
    margin-bottom: 15px;
    overflow: hidden;
  }
}

.widget-wrp:hover .wd-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.widget-wrp .wd-img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 575px) {
  .widget-wrp .wd-img {
    height: 140px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .widget-wrp .wd-img {
    height: 170px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .widget-wrp .wd-img {
    height: 260px;
  }
}

.widget-wrp .wd-img .i-tp {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 50%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 991px) {
  .widget-wrp .wd-img .i-tp {
    top: 15px;
  }
}

.widget-wrp .wd-img .i-tp:before {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 1px;
  height: 30px;
  background-color: #fff;
  content: "";
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.widget-wrp .wd-img .i-bt {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 50%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 991px) {
  .widget-wrp .wd-img .i-bt {
    bottom: 15px;
  }
}

.widget-wrp .wd-img .i-bt:before {
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 1px;
  height: 30px;
  background-color: #fff;
  content: "";
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.widget-wrp .wd-cnt {
  position: absolute;
  top: 55px;
  padding: 0 55px;
  width: 100%;
}

@media (max-width: 991px) {
  .widget-wrp .wd-cnt {
    top: 20px;
    padding: 0 15px;
  }
}

.widget-wrp .wd-cnt p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .widget-wrp .wd-cnt p {
    font-size: 14px;
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .widget-wrp .wd-cnt p {
    font-size: 16px;
  }
}

.widget-wrp .btn-default {
  background-color: #585e5f;
  color: #fff;
  border-radius: 30px;
  border: 0;
  padding: 9px 20px;
  padding-right: 41px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

@media (max-width: 991px) {
  .widget-wrp .btn-default {
    font-size: 12px;
    padding: 5px 15px;
  }
}

.widget-wrp .btn-default img {
  height: 30px;
  position: absolute;
  top: 6px;
  right: 5px;
}

@media (max-width: 991px) {
  .widget-wrp .btn-default img {
    display: none;
  }
}

.widget-wrp .wd-btn {
  position: absolute;
  bottom: 55px;
  width: 100%;
  text-align: center;
}

@media (max-width: 991px) {
  .widget-wrp .wd-btn {
    bottom: 25px;
  }
}

.gradient {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#02ced8), to(#0745a2));
  background-image: linear-gradient(to bottom left, #02ced8, #0745a2);
}

.awards .owl-carousel .award .award-img {
  padding: 30px;
  padding-top: 0;
}

@media (max-width: 991px) {
  .awards .owl-carousel .award .award-img {
    padding-bottom: 10px;
  }
}

.awards .owl-carousel .award .award-img img {
  max-height: 158px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .awards .owl-carousel .award .award-img img {
    max-height: inherit;
    width: auto;
  }
}

.awards .owl-carousel .award P {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
}

.awards .owl-carousel .award P:last-child {
  margin: 0;
}

@media (max-width: 991px) {
  .awards .owl-carousel .award P {
    margin-bottom: 0px;
  }
}

.covid-widget {
  background-color: #f0fbff;
  padding: 30px 0;
  margin-bottom: 15px;
}

.covid-widget img {
  max-width: 100%;
}

.covid-widget p {
  font-size: 14px;
  margin: 6px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  /* padding-bottom: 10px; */
}

.app-str a img {
  height: 34px;
}

.covid-widget h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0;
  text-align: center;
}

.covid-widget h4 a {
  font-size: 12px;
  text-align: center;
  color: #212529;
}

.covid-widget .safe-img {
  max-width: 40px;
  margin-right: 5px;
  margin: 0 auto;
}

.covid-widget .safe-qr {
  max-width: 56px;
}

.covid-widget .row-5 {
  margin: 0 -5px !important;
}

.covid-widget .row-5 > div {
  padding: 5px;
}

.covid-widget .text-right {
  text-align: right;
}

.covid-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* border:1px solid #212529; */
  padding-top: 7px;
  /* border-radius:3px; */
}

.app-str {
  /* border:1px solid #212529; */
  /* padding:10px; */
  border-radius: 3px;
  /* padding-top: 8px; */
  /* padding-bottom: 5px; */
}

.covid-widget li {
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
}

.covid-widget li a {
  color: #212529;
}

.txt-title p {
  padding-bottom: 14px;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-border {
  border-right: 1px solid #00000036;
}

.banner-section {
  padding: 0px;
}

header.header-section {
  -webkit-transition: all .8s;
  transition: all .8s;
  padding: 12px 0;
  border-bottom: 1px solid #E6E6E6;
}

/*# sourceMappingURL=style.css.map */